.b {
  font-weight: 500; }

.text {
  background-color: #080808;
  font-weight: 200;
  line-height: 1.5;
  display: block; }

@keyframes bg-swap {
  0% {
    background-image: url("../img/dr.jpg"); }
  50% {
    background-image: url("../img/br.jpg"); }
  100% {
    background-image: url("../img/dr.jpg"); } }

@keyframes line-grow {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes text-appear {
  100% {
    color: #f2f2f2; } }

@keyframes white-line-move {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left; }
  40% {
    transform-origin: left; }
  50% {
    transform: scaleX(1); }
  60% {
    transform-origin: right; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right; } }

@keyframes slow-float {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(2px, -3px); }
  50% {
    transform: translate(4px, 3px); }
  75% {
    transform: translate(-3px, -4px); }
  100% {
    transform: translate(0, 0); } }

@keyframes sidebar-btn-move {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes about-move-right-in {
  0% {
    transform: translateX(-5rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes projects-btn-show {
  100% {
    color: #f2f2f2; } }

@keyframes projects-selector {
  0% {
    transform: translateX(-0.5rem) translate(-50%, -50%) scale(1.25); }
  50% {
    transform: translateX(0.5rem) translate(-50%, -50%) scale(1.25); }
  100% {
    transform: translateX(-0.5rem) translate(-50%, -50%) scale(1.25); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Raleway', sans-serif;
  color: #f2f2f2;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: .5rem;
  background-color: #d2d2d2; }

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000; }

*::selection {
  background-color: #f2f2f2; }

*:link,
*:visited {
  text-decoration: none;
  color: inherit; }

.m-left-bot {
  margin: 0px 0px 3.5rem 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .m-left-bot {
      margin: 3.5rem 1.75rem; } }

.m-left-top {
  margin: auto 0px 0px 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .m-left-top {
      margin: 3.5rem 1.75rem; } }

.cursor {
  cursor: pointer; }

@media only screen and (max-width: 31.25em) {
  .m-small-top {
    margin-top: 3.5rem; } }

.btn-container {
  height: 4rem;
  width: 4rem;
  transition: .2s all; }
  .btn-container:hover {
    transform: translateY(-3px); }
  .btn-container:active {
    transform: translateY(3px);
    transform: scale(0.98); }

.btn-container-long {
  height: 4rem;
  transition: .2s all; }
  .btn-container-long:hover {
    transform: translateY(-3px); }
  .btn-container-long:active {
    transform: translateY(3px);
    transform: scale(0.98); }

.btn {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808;
  cursor: pointer; }
  .btn__icon {
    fill: #f2f2f2;
    height: 2rem;
    width: 2rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr 450px 250px 1fr;
  grid-template-rows: 25vh minmax(500px, 50vh) minmax(calc(25vh - 5rem), max-content) 4rem; }
  @media only screen and (max-width: 56.25em) {
    .grid {
      grid-template-columns: minmax(580px, 1fr);
      grid-template-rows: 20vh minmax(500px, 50vh) 7.5rem minmax(calc(25vh - 5rem), max-content) 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .grid {
      grid-template-columns: minmax(480px, 1fr); } }
  @media only screen and (max-width: 31.25em) {
    .grid {
      grid-template-columns: minmax(300px, 1fr);
      grid-template-rows: 15vh minmax(500px, 50vh) 7.5rem minmax(calc(25vh - 5rem), max-content) 6rem; } }

.header {
  grid-column: 2/ span 2;
  grid-row: 1/2;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-column: 1/-1;
      justify-content: center; } }

.heading {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  padding: 0rem 1rem;
  letter-spacing: .5rem;
  padding-left: 1rem;
  padding-right: .6rem;
  justify-self: flex-start;
  align-self: flex-end;
  transform-origin: left;
  position: relative;
  animation: line-grow 0.7s cubic-bezier(0.86, 0, 0.07, 1), text-appear 0.1s 0.95s;
  animation-fill-mode: forwards;
  color: #080808; }
  @media only screen and (max-width: 31.25em) {
    .heading {
      text-align: center;
      margin-bottom: auto;
      margin-top: auto;
      width: 100%;
      padding: 0 10rem; } }
  @media only screen and (max-width: 25em) {
    .heading {
      font-size: 2.2rem;
      padding: 0 5rem; } }
  .heading::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border: 1px solid #080808;
    opacity: 0;
    animation: white-line-move 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.7s; }

.background {
  grid-column: 2/ span 2;
  grid-row: 2/ span 1;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  position: relative;
  animation: line-grow 0.7s cubic-bezier(0.86, 0, 0.07, 1), bg-swap 7s 0.95s infinite;
  animation-fill-mode: forwards;
  background-color: #080808; }
  @media only screen and (max-width: 56.25em) {
    .background {
      grid-column: 1/-1;
      grid-row: 2/ span 1;
      margin: 0 3.5rem; } }
  @media only screen and (max-width: 31.25em) {
    .background {
      display: flex;
      justify-content: center;
      align-items: flex-end; } }
  .background > p {
    position: absolute;
    bottom: 1.2rem;
    right: 2rem;
    backface-visibility: hidden;
    transform: translateX(-5rem);
    opacity: 0;
    animation: about-move-right-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 0.95s;
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 31.25em) {
      .background > p {
        position: relative;
        bottom: 0;
        right: 0;
        padding: 1.75rem; } }
  .background::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border: 1px solid #080808;
    opacity: 0;
    animation: white-line-move 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.7s; }

.sidebar {
  grid-column: 4/-1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 3/4;
      flex-direction: row;
      justify-content: center; } }
  .sidebar__box {
    transform: translateX(-10rem);
    opacity: 0;
    position: relative; }
    .sidebar__box--1 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 0.95s;
      animation-fill-mode: forwards; }
      @media only screen and (min-width: 75em) {
        .sidebar__box--1::before {
          content: "Github";
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #080808;
          color: #f2f2f2;
          height: 100%;
          text-align: center;
          line-height: 4rem;
          overflow: hidden;
          width: 0;
          transition: width .3s; } }
      .sidebar__box--1:hover::before {
        width: 300%; }
    .sidebar__box--2 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1s;
      animation-fill-mode: forwards; }
      @media only screen and (min-width: 75em) {
        .sidebar__box--2::before {
          content: "LinkedIn";
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #080808;
          color: #f2f2f2;
          height: 100%;
          text-align: center;
          line-height: 4rem;
          overflow: hidden;
          width: 0;
          transition: width .3s; } }
      .sidebar__box--2:hover::before {
        width: 300%; }
    .sidebar__box--3 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1.05s;
      animation-fill-mode: forwards; }
      @media only screen and (min-width: 75em) {
        .sidebar__box--3::before {
          content: "Facebook";
          position: absolute;
          top: 0;
          left: 100%;
          background-color: #080808;
          color: #f2f2f2;
          height: 100%;
          text-align: center;
          line-height: 4rem;
          overflow: hidden;
          width: 0;
          transition: width .3s; } }
      .sidebar__box--3:hover::before {
        width: 300%; }
    .sidebar__box--4 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1.1s;
      animation-fill-mode: forwards; }

.about {
  grid-column: 2/3;
  grid-row: 2/ span 1;
  align-self: start;
  justify-self: start;
  z-index: 50;
  height: 100%;
  width: 100%;
  padding: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-column: 1/-1;
      padding: 3.5rem 7rem; } }
  .about__checkbox {
    display: none; }
  .about__box {
    transform: translateX(-5rem);
    opacity: 0;
    animation: about-move-right-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 0.95s;
    animation-fill-mode: forwards; }
  .about__container {
    height: 100%;
    width: 100%;
    padding-top: 3px;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 56.25em) {
      .about__container {
        width: 60%; } }
    @media only screen and (max-width: 37.5em) {
      .about__container {
        width: 100%; } }
  .about__text {
    display: none;
    color: #f2f2f2;
    background-color: #080808;
    text-align: center;
    padding: 1rem .4rem 1rem .9rem;
    margin-bottom: 2.1rem;
    opacity: 0;
    transition: opacity .35s, transform .35s; }
  .about__checkbox:checked ~ .about__container > .about__text {
    transform: translateX(0);
    opacity: 1; }
  @media (hover: hover) {
    .about__checkbox:hover ~ .about__container > .about__text {
      transform: translateX(0);
      opacity: 1; } }
  .about__text--left {
    transform: translateX(5rem);
    align-self: flex-start; }
  .about__text--right {
    transform: translateX(-5rem);
    align-self: flex-end; }

.projects {
  grid-column: 2/span 2;
  grid-row: 3/4;
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      grid-column: 1/-1;
      grid-row: 4/5; } }
  .projects__checkbox {
    display: none; }
  .projects__area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3.5rem 0 10.5rem 0; }
    @media only screen and (max-width: 56.25em) {
      .projects__area {
        padding: 7rem 0 7rem 0; } }
    @media only screen and (max-width: 37.5em) {
      .projects__area {
        padding: 7rem 3.5rem 7rem 3.5rem; } }
  .projects__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3.5rem;
    width: 13rem;
    color: #080808;
    transform-origin: left;
    position: relative;
    animation: line-grow 0.7s cubic-bezier(0.86, 0, 0.07, 1), projects-btn-show 0.1s 0.95s;
    animation-fill-mode: forwards; }
  .projects__btn:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border: 1px solid #080808;
    opacity: 0;
    animation: white-line-move 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.7s; }
  .projects__icon {
    transition: all .35s;
    fill: currentColor; }
  .projects__text {
    color: currentColor;
    margin-right: .5rem;
    margin-left: .3rem; }
  .projects__checkbox:checked ~ .projects__area > .btn-container-long > .projects__btn > .projects__icon {
    transform: rotate(180deg); }
  .projects__checkbox:checked ~ .projects__area > .projects__container {
    height: 50rem;
    margin-top: 3.5rem; }
  .projects__container {
    transition: .35s all;
    overflow: hidden;
    width: 70rem;
    height: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .projects__container {
        width: 60rem; } }
    @media only screen and (max-width: 37.5em) {
      .projects__container {
        width: 100%; } }
  .projects__project {
    background-image: linear-gradient(to right, #121212, #aaaaaa);
    color: #f2f2f2;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: all .35s;
    backface-visibility: hidden; }
    .projects__project:hover {
      transform: scale(0.98); }
  .projects__project-text {
    position: relative;
    padding: 1rem 2rem 1rem 2rem;
    width: 100%; }
  .projects__project-text:hover > .projects__selector {
    opacity: 1; }
  .projects__selector {
    position: absolute;
    opacity: 0;
    top: 50%;
    left: 90%;
    transition: .3s opacity;
    animation: projects-selector 2s ease-in-out infinite; }

.footer {
  grid-column: 1 / -1;
  grid-row: 4/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #080808; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-row: 5/-1; } }

.copyright {
  font-size: 1.2rem; }
  @media only screen and (max-width: 31.25em) {
    .copyright {
      text-align: center;
      padding: 0 2rem; } }
