.b {
  font-weight: 500; }

.text {
  background-color: #000;
  font-weight: 200;
  line-height: 1.5;
  display: block; }

@keyframes bg-swap {
  0% {
    background-image: url(../img/me-1.jpg); }
  33% {
    background-image: url(../img/me-2.jpg); }
  66% {
    background-image: url(../img/me-3.jpg); }
  100% {
    background-image: url(../img/me-1.jpg); } }

@keyframes line-grow {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes text-appear {
  100% {
    color: #f9f7f6; } }

@keyframes white-line-move {
  0% {
    opacity: 1;
    transform: scaleX(0);
    transform-origin: left; }
  40% {
    transform-origin: left; }
  50% {
    transform: scaleX(1); }
  60% {
    transform-origin: right; }
  99% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right; } }

@keyframes slow-float {
  0% {
    transform: translate(0, 0); }
  25% {
    transform: translate(2px, -3px); }
  50% {
    transform: translate(4px, 3px); }
  75% {
    transform: translate(-3px, -4px); }
  100% {
    transform: translate(0, 0); } }

@keyframes sidebar-btn-move {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes about-move-right-in {
  0% {
    transform: translateX(-5rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.5; }

*::selection {
  background-color: orangered; }

.m-left-bot {
  margin: 0px 0px 3.5rem 3.5rem; }

.m-left-top {
  margin: auto 0px 0px 3.5rem; }

.btn-container {
  height: 4rem;
  width: 4rem;
  transition: .2s all; }
  .btn-container:hover {
    transform: translateY(-3px); }
  .btn-container:active {
    transform: translateY(3px);
    transform: scale(0.98); }

.btn {
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  cursor: pointer; }
  .btn__icon {
    fill: #f9f7f6;
    height: 2rem;
    width: 2rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 450px) minmax(150px, 250px) 1fr;
  grid-template-rows: 25vh minmax(500px, 50vh); }

.header {
  grid-column: 2/ span 2;
  grid-row: 1/2;
  display: flex; }

.heading {
  margin-bottom: 3.5rem;
  font-size: 2.8rem;
  padding: 0rem 1rem;
  letter-spacing: .5rem;
  padding-left: 1rem;
  padding-right: .6rem;
  justify-self: flex-start;
  align-self: flex-end;
  transform-origin: left;
  position: relative;
  animation: line-grow 0.7s cubic-bezier(0.86, 0, 0.07, 1), text-appear 0.1s 0.95s, slow-float 8s 1.5s infinite;
  animation-fill-mode: forwards;
  color: #000; }
  .heading::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f7f6;
    border: 1px solid #000;
    opacity: 0;
    animation: white-line-move 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.7s; }

.background {
  grid-column: 2/ span 2;
  grid-row: 2/ span 1;
  background-size: cover;
  background-position: center;
  transform-origin: left;
  position: relative;
  animation: line-grow 0.7s cubic-bezier(0.86, 0, 0.07, 1), bg-swap 7s 0.95s infinite;
  animation-fill-mode: forwards;
  background-color: #000; }
  .background::after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f9f7f6;
    border: 1px solid #000;
    opacity: 0;
    animation: white-line-move 0.5s cubic-bezier(0.86, 0, 0.07, 1) 0.7s; }

.sidebar {
  grid-column: 4/-1;
  grid-row: 2/3;
  display: flex;
  flex-direction: column; }
  .sidebar__box {
    transform: translateX(-10rem);
    opacity: 0;
    position: relative; }
    .sidebar__box--1 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 0.95s, slow-float 8s 2s infinite;
      animation-fill-mode: forwards; }
      .sidebar__box--1::before {
        content: "Github";
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f9f7f6;
        height: 100%;
        text-align: center;
        line-height: 4rem;
        overflow: hidden;
        width: 0;
        transition: width .2s; }
      .sidebar__box--1:hover::before {
        width: 220%; }
    .sidebar__box--2 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1s, slow-float 8s 2s infinite;
      animation-fill-mode: forwards; }
      .sidebar__box--2::before {
        content: "LinkedIn";
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f9f7f6;
        height: 100%;
        text-align: center;
        line-height: 4rem;
        overflow: hidden;
        width: 0;
        transition: width .2s; }
      .sidebar__box--2:hover::before {
        width: 220%; }
    .sidebar__box--3 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1.05s, slow-float 8s 2s infinite;
      animation-fill-mode: forwards; }
      .sidebar__box--3::before {
        content: "Facebook";
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f9f7f6;
        height: 100%;
        text-align: center;
        line-height: 4rem;
        overflow: hidden;
        width: 0;
        transition: width .2s; }
      .sidebar__box--3:hover::before {
        width: 220%; }
    .sidebar__box--4 {
      animation: sidebar-btn-move 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 1.1s, slow-float 8s 2s infinite;
      animation-fill-mode: forwards; }
      .sidebar__box--4::before {
        content: "jevlentjev@gmail.com";
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #000;
        color: #f9f7f6;
        height: 100%;
        text-align: center;
        line-height: 4rem;
        overflow: hidden;
        width: 0;
        transition: width .2s; }
      .sidebar__box--4:hover::before {
        width: 500%; }

.about {
  grid-column: 2/3;
  grid-row: 2/ span 1;
  align-self: start;
  justify-self: start;
  z-index: 50;
  height: 100%;
  width: 100%;
  padding: 3.5rem;
  animation: slow-float 6s 2s infinite; }
  .about__checkbox {
    display: none; }
  .about__box {
    transform: translateX(-5rem);
    opacity: 0;
    animation: about-move-right-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.475) 0.95s;
    animation-fill-mode: forwards; }
  .about__container {
    height: 100%;
    width: 100%;
    padding-top: 3px;
    display: flex;
    flex-direction: column; }
    .about__container > p {
      color: #f9f7f6;
      background-color: #000;
      text-align: center;
      font-size: 1.4rem;
      padding: 1rem .4rem 1rem .9rem;
      letter-spacing: .5rem;
      transition: all .35s;
      opacity: 0;
      margin-bottom: 2.1rem; }
  .about__text--left {
    transform: translateX(5rem);
    align-self: flex-start; }
  .about__text--right {
    transform: translateX(-5rem);
    align-self: flex-end; }
  .about__checkbox:checked ~ .about__container > p {
    transform: translateX(0);
    opacity: 1; }

.contact {
  grid-column: 3/4;
  grid-row: 2/span 1;
  background-color: #f9f7f6;
  align-self: end;
  justify-self: end; }

.projects {
  grid-column: 2/span 2;
  grid-row: 3/-1;
  height: 1000px; }

.footer {
  grid-column: 2/span 2;
  grid-row: 4/-1;
  align-self: end; }
