//header
@mixin header-ie-support {
    height: 20vh;
    justify-content: center;
    
    @supports (display: grid) {
        height: initial;
        justify-content: initial;
    }
}

//projects
@mixin projects-ie-support {
    &::after {
        content: "\2193";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 15%;
        left: 85%;
        color: $color-white-1;
        z-index: $ie-project-dpth;

        backface-visibility: hidden;
        opacity: 0;
        animation: about-ie-move-right-in .5s cubic-bezier(0.175, 0.885, 0.32, 1.475) .95s;
        animation-fill-mode: forwards;
    }
    
    @supports (display: grid) {
        &::after {
            content: none;
        }
    }
}

//sidebar
@mixin sidebar-ie-support {
    flex-direction: row;
    justify-content: center;

            
    @supports (display: grid) {
        flex-direction: column;
        justify-content: initial;
    }
}

@mixin github-ie-support {
    &::after {
        content: "";
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: center;
        color: $color-white-1;
        z-index: $ie-sidebar-dpt;
        background-image: url('../img/github.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @supports (display: grid) {
        &::after {
            content: none;
        }
    }
}

@mixin linkedin-ie-support {
    &::after {
        content: "";
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: center;
        color: $color-white-1;
        z-index: $ie-sidebar-dpt;
        background-image: url('../img/linkedin.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @supports (display: grid) {
        &::after {
            content: none;
        }
    }
}

@mixin facebook-ie-support {
    &::after {
        content: "";
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: center;
        color: $color-white-1;
        z-index: $ie-sidebar-dpt;
        background-image: url('../img/facebook.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @supports (display: grid) {
        &::after {
            content: none;
        }
    }
}

@mixin mail-ie-support {
    &::after {
        content: "";
        height: 50%;
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        text-align: center;
        color: $color-white-1;
        z-index: $ie-sidebar-dpt;
        background-image: url('../img/mail.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @supports (display: grid) {
        &::after {
            content: none;
        }
    }
}

//utilities
@mixin m-left-bot-ie-support {
    margin: $gap $gap/2;
            
    @supports (display: grid) {
        margin: 0px 0px $gap $gap;
    }
}

@mixin m-left-top-ie-support {
    margin: $gap $gap/2;
            
    @supports (display: grid) {
        margin: auto 0px 0px $gap;  
    }
}

//background
@mixin background-ie-support {
    min-height: 50rem;
    max-width: 90%;
    margin: 0 auto;
    background-image: $bg-img;

    &::before {
        content: "Hi, my name is Aleksandr Jevlentjev. \A I love coding and unique designs.";
        white-space: pre-line;
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        z-index: $ie-about-dpt;
        color: $color-white-1;
        padding: 2rem;
        background-color: $color-black-1;
        font-size: 1.6rem;
        text-align: center;

        backface-visibility: hidden;
        opacity: 0;
        animation: about-ie-move-right-in .5s cubic-bezier(0.175, 0.885, 0.32, 1.475) .95s;
        animation-fill-mode: forwards;
    }

    @supports (display: grid) {
        min-height: initial;
        max-width: initial;
        margin: initial;
        background-image: initial;

        &::before {
            content: none; //cancels before element
        }
    }
}

//about
@mixin about-ie-support {
    display: none;
    
    @supports (display: grid) {
        display: initial;
    }
}

//footer
@mixin footer-ie-support {
    height: 5rem;
    
    @supports (display: grid) {
        height: initial;
    }
}