//colors
$color-black-1: #080808;
$color-black-2: #121212;
$color-white-1: #f2f2f2;
$color-grey-1: #d2d2d2;
$color-grey-2: #bdbdbd;
$color-grey-3: #aaaaaa;

//font thickness
$font-w-thin: 200;
$font-w-normal: 300;
$font-w-thick: 400;

//sizings
$border: 1px solid $color-black-1;
$btn-size: 4rem;
$gap: 3.5rem;

//media queries
$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px
$bp-tiny: 25em; //400px

//depth of some elements
$about-dpt: 3;
$background-white-animation-dpt: 2; //pseudo after
$background-dpt: 1;

$ie-sidebar-dpt: 1; //icons on buttons
$ie-about-dpt: 1;
$ie-project-dpth: 1; //arrow down