.about {
    grid-column: 2/3;
    grid-row: 2/ span 1;

    align-self: start;
    justify-self: start;

    z-index: 50;

    height: 100%;
    width: 100%;
    padding: $gap;

    animation: slow-float 12s 2s infinite;

    &__checkbox {
        display:none;
    }

    &__box {
        transform: translateX(-5rem);
        opacity: 0;

        animation: about-move-right-in .5s cubic-bezier(0.175, 0.885, 0.32, 1.475) .95s;
        animation-fill-mode: forwards;
    }

    &__container {
        height: 100%;
        width: 100%;
        padding-top: 3px;

        display: flex;
        flex-direction: column;
    }


    &__text {
        display: none; //js will change this to block after .5s

        color:$color-white-1;
        background-color: $color-black-1;
        text-align: center;
        padding: 1rem .4rem 1rem .9rem;
        margin-bottom: $gap * .6;

        opacity: 0;
        transition: opacity .35s, transform .35s;
    }

    &__checkbox:checked ~ &__container > &__text {
        transform: translateX(0);
        opacity: 1;
    }

    &__text--left {
        transform: translateX(5rem);
        align-self: flex-start;
    }

    &__text--right {
        transform: translateX(-5rem);
        align-self: flex-end;
    }
}