.center {
    grid-column: 2/ span 2;
    grid-row: 2/ span 1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__background {
        width: 0;
        height: 0;

        background-image: url(../img/me-1.jpg);
        background-size: cover;
        background-position: center;
    
        animation: a-main 7s infinite; 
        animation-fill-mode: backwards;

        transition: width 2s, height 2s;
    }

    &__checkbox {
        width: 5rem;
        height:5rem;
        // display: none;
    }

    &__checkbox:checked ~ &__background {
        width: 100%;
        height: 100%;
    }

    &__button {

    }

    &__icon {

    }
}