.footer {
    // IE support 
    @include footer-ie-support;

    grid-column: 1 / -1;
    grid-row: 4/-1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-black-1;

    @media only screen and (max-width: $bp-medium) {
        grid-row: 5/-1;
    }   
}

.copyright {
    font-size: 1.2rem;

    @media only screen and (max-width: $bp-smallest) {
        text-align: center;
        padding: 0 2rem;
    }
}