.footer {
    grid-column: 1 / -1;
    grid-row: 4/-1;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-black-1;
}

.copyright {
    font-size: 1.2rem;
}