.grid {
    display: grid;
    
    grid-template-columns: 1fr 450px 250px 1fr;
    grid-template-rows: 25vh minmax(500px,50vh) max-content 50px; 
}

// repeat(2,minmax(300px,20vw))
// minmax(max-content,450px) minmax(150px,250px)


// grid-template-columns: 1fr minmax(max-content,450px) minmax(150px,250px) 1fr;