.sidebar {

    grid-column: 4/-1;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;


    //IE support 
    @include sidebar-ie-support;


    @media only screen and (max-width: $bp-medium) {
        grid-column: 1/-1;
        grid-row: 3/4;

        flex-direction: row;
        justify-content: center;
    }

    &__box {
        transform: translateX(-10rem);
        opacity: 0; 

        position: relative;

        &--1 {
            @include sidebar-button-anim(.95s);

            //Disable in ie
            &::before {
                @supports (display: grid) {
                    @include sidebar-before("Github");
                }
            }

            &:hover::before {width: 300%;}

            //IE support 
            @include github-ie-support;
        }

        &--2 {
            @include sidebar-button-anim(1s);

            //Disable in ie
            &::before {
                @supports (display: grid) {
                    @include sidebar-before("LinkedIn");
                }   
            }

            &:hover::before {width: 300%;}

            //IE support
            @include linkedin-ie-support;
        }

        &--3 {
            @include sidebar-button-anim(1.05s);

            //Disable in ie
            &::before {
                @supports (display: grid) {                
                    @include sidebar-before("Facebook");
                }   
            }

            &:hover::before {width: 300%;}

            //IE support
            @include facebook-ie-support;
        }

        &--4 {
            @include sidebar-button-anim(1.1s);

            //IE support
            @include mail-ie-support;      
        }
    }
}