//Container for a button, has animations
.btn-container {
    transition: .2s all;

    &:hover {
        transform: translateY(-3px);
    }

    &:active {
        transform: translateY(3px); 
        transform: scale(.98);
    }
}

//Button itself, has to go into container
.btn {
    height: $btn-size;
    width: $btn-size;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    background-color: $color-black-1;

    &__icon {
        fill: $color-white-1;
        height: 2rem;
        width: 2rem;
    }
}

