@keyframes bg-swap {
    0% {background-image: url(../img/me-1.jpg);}
    33% {background-image: url(../img/me-2.jpg);}
    66% {background-image: url(../img/me-3.jpg);}
    100% {background-image: url(../img/me-1.jpg);}
}

@keyframes line-grow {
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}

@keyframes text-appear {
    100% {color: $color-white-1;}
}

@keyframes white-line-move {
    0% {
        opacity: 1;
        transform: scaleX(0);
        transform-origin: left;
    }

    40% {transform-origin: left;}
    50% {transform: scaleX(1);}
    60% {transform-origin: right;}
    99% {opacity: 1;}

    100% {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right;
    }
}

@keyframes slow-float {
    0% {transform: translate(0,0);}
    25% {transform: translate(2px,-3px);}
    50% {transform: translate(4px,3px);}
    75% {transform: translate(-3px,-4px);}
    100% {transform: translate(0,0);}
}

@keyframes sidebar-btn-move {
    0% {
        transform: translateX(-10rem);
        width: $btn-size; 
        height: $btn-size;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
        width: $btn-size; 
        height: $btn-size;
    }
}

@keyframes btn-flair {
    0% {
        width: 0;
        padding: 0;
        opacity: 0;
    }
    
    100% {
        width: 10rem;
        padding: 9px 10px 7px 10px;
        opacity: 1;
    }
}