*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    
    color: $color-white-1;
    font-weight: $font-w-thin;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: .5rem;

    background-color: red; 
}

#canvas { 
    background-color: $color-grey-1; 
    position: absolute;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    z-index: -1000;
}

*::selection {
    background-color: $color-white-1;
}

*:link,
*:visited {
    text-decoration: none;
    color: inherit;
}