*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    
    color:$color-black-1;
    font-weight: $font-w-thin;
    font-size: 1.6rem;
    line-height: 1.5;
}

*::selection {
    background-color: orangered;
}